* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.banner {
    background-image: url(/images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    padding-bottom: 300px;
}

.banner-title {
    color: #ffffff;
    text-align: center;
    font-weight: 800;
    font-size: 80px;
    padding-top: 255px;

}

.banner-description {
    color: #ffffff;
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    padding-bottom: 50px;
}

.btn-primary {
    margin-left: 865px;
    font-size: 18px;
    font-weight: 400;
    background-color: #FF5959;
    color: #ffffff;
    border: 0;
    border-color: #FF5959;
    border-radius: 10px;
    padding: 10px 20px;
}

/* donate today */
.donate-today {
    text-align: center;
    color: #707070;
}

h2 {
    font-size: 35px;
    color: #121212;
}

.donate-amount {
    display: flex;
    gap: 22px;
    margin: 20px 20%;
}

.amount {
    font-size: 40px;
    font-weight: bold;
    background: #FAFAFA;
    box-shadow: 10px 10px 10px rgba(18, 18, 18, 0.205);
    border-radius: 5px;
    width: 135px;
    height: 123px;
    padding: 60px 25px 0 25px;

}

.amount:hover {
    background-color: rgba(255, 89, 89, 0.25);
    border: 2px solid #FF5959;

}

#tk {
    background-color: rgba(255, 89, 89, 0.25);
    border: 2px solid #FF5959;
}

.donate-today .btn-primary {
    margin-right: 0.3%;
    margin-left: 0;
}

hr {
    border-top: 2px solid;
    /* align: center; */
    margin: 20px auto;
    width: 1180px;
}

/* donate plan */

.donate-plan {
    margin: 10px 20%;
}

.plan-title {
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    padding-bottom: 10px;
}

.plan-description {
    text-align: center;
    padding-bottom: 20px;
}

.plan-container {
    display: flex;
    gap: 30px;
}

.plan-style-one {
    background-color: rgba(79, 157, 166, 0.1);
    border-radius: 10px;
    padding: 40px 30px 10px;
    width: 460px;
}

.plan-style-two {
    background-color: #ff59598e;
    border-radius: 10px;
    padding: 40px 30px 10px;
    width: 460px;
}

.plan-style-three {
    background-color: rgba(211, 212, 125, 0.664);
    border-radius: 10px;
    padding: 40px 30px 10px;
    width: 460px;
}

.plan-style-title {
    font-size: 25px;
    padding-bottom: 10px;
}

/* section three */
.donation-container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.donation {
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.one {
    text-align: center;
    margin-top: 80px;
}

.title-donate {
    font-size: 50px;
    font-weight: 800;
}

.description {
    padding: 10px 50px;
}

.donation-container .btn-primary {
    margin: 20px auto;
    padding: 20px;
}

/* get my updates */
.my-updates {
    text-align: center;
    padding: 20px 350px;
    margin-bottom: 50px;
}

.update-title {
    font-size: 50px;
    font-weight: 700;
}

.update-description {

    padding: 30px;
}

.update-form {
    padding: 100px;
    background-color: burlywood;
    border-radius: 5px;
    gap: 0;
}

.email {
    font-size: medium;
    background: #D9D9D9;
    border-radius: 5px 0px 0px 5px;
    padding: 20px 50px;
    border: none;
    margin-left: 130px;
}
.submit{
    font-size: medium;
    background: #FF5959;
    border-radius: 0px 5px 5px 0px;
    padding: 20px 50px;
    border: none;
    margin: 0;
}
.footer{
    background-color: #121212;
    padding: 100px;
    text-align: center;
}
.footer-title{
    color: #FF5959;
    font-size: 100px;
}
.footer-description{
    color: #FAFAFA;
    font-size: 50px;
}